/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* PT Sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Hind Madurai */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

/* Fira Sans 600 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

/* Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Fira Sans Extra Condensed 700 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,700;1,700&display=swap');

.font-display {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 700;
}

.font-pt {
  font-family: 'PT Sans', sans-serif;
}

.font-fira-600 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

.font-hind {
  font-family: 'Hind Madurai', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.site-header {
  max-width: 14rem;
  width: 100%;
}

.collapsed {
  max-width: 4rem;
}

/* .separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #eaeaea;
} */

/* .main-body > * + * {
  margin-top: 1rem;
} */

/* .footer {
  position: sticky;
  top: 100vh;
} */

/* .site-header {
  display: flex;
  justify-content: space-between;
}

.site-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button {
  cursor: pointer;
  width: max-content;
} */